<html>
	<head>
            <!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/static/eye.jpg" />
      	<link href='https://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
      	<link href='https://fonts.googleapis.com/css?family=Tillana:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="static/custom.css">

	</head>
	<body class="container">
		<div class="span9">
			{% block page_title %}{% endblock %}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
