
{% extends 'base.html' %}

{% block page_title %}

{% endblock %}

{% block content %}

<div class="container">
   <div class="col-md-2"></div>
	<div class="jumbotron col-md-8">
	<h1 id="jumbotitle">Code4Girls Horoskop</h1>
	<h4>Hier erfährst Du, was in deinen Sternen steht</h4>

<div class="form">
	<form class action="" method="post" name="get_name">
		{{ form.hidden_tag() }}
		<label for="name">Bitte gib deinen Namen ein: </label>
		{{ form.name }}</br>
		
		<input class="btn btn-default" type="submit" value="Los geht's!">
	</form>
    </div>
</div>

{% endblock %}

      

    
